#
# Copyright (c) 2024 Emcraft Systems
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig PMIC
	bool "Enable PMIC module"
	default y

if PMIC

config PMIC_INIT_PRIORITY
	int "PMIC init priority"
	default 90
	help
		The Thingy-9151-Lite board contains an nPM1300 PMIC that needs to be configured to
		set up the power domains on the board correctly. This happens during sys_init,
		and the PMIC setup must happen before external devices are initialized in order.

config PMIC_IRQ
	bool "Enable PMIC interrupts"
	default y

rsource "Kconfig.pmic_regulator"
rsource "Kconfig.pmic_charger"

endif # PMIC

module = PMIC
module-str = pmic
source "subsys/logging/Kconfig.template.log_config"
