# Thingy-9151-Lite NRF9161 board configuration

# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF9161_LACA

config BOARD_THINGY9151LITE_NRF9161
	bool "Thingy-9151-Lite NRF9161"

config BOARD_THINGY9151LITE_NRF9161_NS
	bool "Thingy-9151-Lite NRF9161 non-secure"

endif # SOC_NRF9161_LACA
