/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include <dt-bindings/regulator/npm1300.h>

/ {
	chosen {
		zephyr,ppp-uart = &uart1;
	};

	/delete-node/ leds;

	leds0 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED0";
		led0: led_0 {
			status = "okay";
			gpios = <&gpio0 0 0>;
			label = "Green LED 1";
		};
	};

	leds1 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED1";
		led1: led_1 {
			gpios = <&gpio0 1 0>;
			label = "Green LED 2";
		};
	};

	leds2 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED2";
		led2: led_2 {
			gpios = <&gpio0 4 0>;
			label = "Green LED 3";
		};
	};

	leds3 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED3";
		led3: led_3 {
			gpios = <&gpio0 5 0>;
			label = "Green LED 4";
		};
	};

	/* Configure partition manager to use gd25wb256 as the external flash */
	chosen {
		nordic,pm-ext-flash = &gd25wb256;
	};

	aliases {
		ext-flash = &gd25wb256;
	};
};

&gd25wb256 {
	status = "okay";
};

&uart1 {
	status = "okay";
#if 0 /* TBD - the app hangs with hw-flow-control enabled */
	hw-flow-control;
#endif
};

&arduino_i2c {
	lis2dw12: lis2dw12@19 {
		compatible = "st,lis2dw12";
		reg = <0x19>;
		int-pin = <1>;
		irq-gpios =  <&gpio0 7 GPIO_ACTIVE_HIGH>, <&gpio0 4 GPIO_ACTIVE_HIGH>;
		tap-threshold = <1>, <1>, <1>;
	};

	lps22hh: lps22hh@5d {
		compatible = "st,lps22hh";
		reg = <0x5d>;
		drdy-gpios = <&arduino_header 15 GPIO_ACTIVE_HIGH>;
	};

	lps22hb: lps22hb-press@5c {
		compatible = "st,lps22hb-press";
		reg = <0x5c>;
		drdy-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
	};

	npm1300_pmic: pmic@6b {
		compatible = "nordic,npm1300";
		reg = <0x6b>;
		status = "okay";

		npm1300_wdt: npm1300_wdt {
			compatible = "nordic,npm1300-wdt";
		};

		npm1300_regulators: regulators {
			compatible = "nordic,npm1300-regulator";

			/* limits are set to min/max allowed values */
			npm1300_buck1: BUCK1 {
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
			};

			npm1300_ldsw1: LDO1 {
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-initial-mode = <NPM1300_LDSW_MODE_LDSW>;
				regulator-allowed-modes = <NPM1300_LDSW_MODE_LDSW>;
			};

			npm1300_ldsw2: LDO2 {
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-initial-mode = <NPM1300_LDSW_MODE_LDSW>;
				regulator-allowed-modes = <NPM1300_LDSW_MODE_LDSW>;
			};
		};
	};
};
