#
# Copyright (c) 2021 Nordic Semiconductor
# Copyright (c) 2024 Emcraft Systems
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig WATCHDOG_APPLICATION
	bool "Application watchdog"
	select WATCHDOG
	default y

if WATCHDOG_APPLICATION

config WATCHDOG_APPLICATION_USE_NPM1300_WDT
	bool "Use nPM1300 watchdog"
	default n

config WATCHDOG_APPLICATION_USE_INTERNAL_WDT
	bool "Use internal watchdog"
	depends on !WATCHDOG_APPLICATION_USE_NPM1300_WDT
	default y if !WATCHDOG_APPLICATION_USE_NPM1300_WDT

config WATCHDOG_APPLICATION_TIMEOUT_MS
	int "Watchdog timeout in milliseconds"
	default 5000

config WATCHDOG_APPLICATION_FEED_PERIOD_MS
	int "Watchdog feed period in milliseconds"
	default 2500

endif # WATCHDOG_APPLICATION

module = WATCHDOG
module-str = Watchdog
source "subsys/logging/Kconfig.template.log_config"
